{% extends "base.html.twig" %}

{% block title %} Page d'accueil {% endblock %}

{% block content %}
    <div class="display-post">
        {% for article in articles %}
            <div class="post" id="post{{ article.idPost }}">
                <a href="/ClementGrenierDesrousseaux_P5_06052022/article/{{ article.idPost }}">
                    <div class="post-title-date">
                        <h4>{{ article.titlePost }}</h4>
                        <p>{{ article.datePost | date('d/m/Y') }}</p>
                    </div>
                    <p>{{ article.chapoPost }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
