{% extends "base.html.twig" %}

{% block title %} test {% endblock %}

{% block stylesheets %} {% endblock %}

{% block content %}

    {% for article in articles %}
        <div class="oneArticle">
            <div id="oneArticle-article-form-comment">
                <div id="oneArticle-article">
                    <div id="oneArticle-article-title-date">
                        <h2>{{ article.titlePost | raw }}</h2>
                    </div>
                    <div class="resume-post-link-date-author">
                        <div class="resume-post-link-date">
                            <i class="fa-solid fa-calendar-days"></i>
                            {{ article.datePost | date('d/m/Y à H:i') }}
                        </div>
                        <div class="resume-post-link-author">
                            <i class="fa-solid fa-user"></i>
                            {{ article.authorPost }}
                        </div>
                    </div>
                    <div id="oneArticle-article-chapo">
                        <p>{{ article.chapoPost | nl2br }}</p>
                    </div>
                    <div id="oneArticle-article-content">
                        <p>{{ article.contentPost | raw }}</p>
                    </div>
                </div>
                <div class="form-post-comment">
                    <form method="post"
                          action="/ClementGrenierDesrousseaux_P5_06052022/article/{{ article.idPost }}"
                          id="oneArticle-comment-form">
                        <h2><i class="fa-solid fa-comment oneArticle-comment-form-icon"></i>Laisser un commentaire</h2>
                        <div class="oneArticle-comment-form-label-input">
                            <label for="exampleInputEmail1" class="form-label">Nom/Prénom ou Pseudo</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" name="commentAuthor">
                        </div>

                        <div class="oneArticle-comment-form-label-input">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" name="commentEmail">
                        </div>

                        <div class="oneArticle-comment-form-label-input">
                            <label for="exampleInputEmail1" class="form-label">Message</label>
                            <textarea class="form-control" aria-label="With textarea"
                                      name="commentContent" cols="100%"></textarea>
                        </div>
                        <p>*Sous réserve de validation de la part d'un administrateur</p>
                        <div class="oneArticle-comment-form-button-display">
                            <button type="submit" class="oneArticle-comment-form-button"><i
                                        class="fa-solid fa-paper-plane oneArticle-comment-form-icon"></i>Publier
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            <div id="oneArticle-list-comments">
                {% if comments | length == 1 %}
                    <h2><i class="fa-solid fa-comments oneArticle-comment-form-icon"></i> {{ comments | length }}
                        Commentaire</h2>
                {% else %}
                    <h2><i class="fa-solid fa-comments oneArticle-comment-form-icon"></i> {{ comments | length }}
                        Commentaires</h2>
                {% endif %}
                {% for comment in comments %}
                    <div class="comment-design">
                        <div class="comment-design-author-date">
                            <div class="comment-design-author">
                                <strong>{{ comment.commentAuthor }}</strong>
                            </div>
                            <div class="comment-design-date">
                                commenté le <br>
                                {{ comment.dateComment | date("d/m/Y, H:i") }}
                            </div>
                        </div>
                        <div class="comment-design-content">
                           {{ comment.commentContent | escape }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
