{% extends "base.html.twig" %}

{% block title %} test {% endblock %}

{% block stylesheets %} {% endblock %}

{% block content %}

    {% for article in articles %}
        <div class="oneArticle">
            <div id="oneArticle-article-form-comment">
                <div id="oneArticle-article">
                    <div id="oneArticle-article-title-date">
                        <h4>{{ article.titlePost }}</h4>
                        <p>{{ article.datePost | date('d/m/Y')}}</p>
                    </div>
                    <div id="oneArticle-article-chapo">
                        <p>{{ article.chapoPost }}</p>
                    </div>
                    <div id="oneArticle-article-content">
                        <p>{{ article.contentPost | raw }}</p>
                    </div>
                    <div id="oneArticle-article-author">
                        <p>Auteur : {{ article.authorPost }}</p>
                    </div>
                </div>
                <form method="post"
                      action="/ClementGrenierDesrousseaux_P5_06052022/article/{{ article.idPost }}" id="oneArticle-comment-form">
                    <h2>Poster un commentaire</h2>
                    <div class="oneArticle-comment-form-label-input">
                        <label for="exampleInputEmail1" class="form-label">Nom/Prénom ou Pseudo</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" name="commentAuthor">
                    </div>

                    <div class="oneArticle-comment-form-label-input">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" name="commentEmail">
                    </div>

                    <div class="oneArticle-comment-form-label-input">
                        <label for="exampleInputEmail1" class="form-label">Message</label>
                        <textarea class="form-control" aria-label="With textarea"
                                  name="commentContent"></textarea>
                    </div>
                    <button type="submit" class="">Publier son commentaire*</button>
                    <p>*Sous réserve de validation de la part d'un administrateur</p>
                </form>
            </div>
            <div id="oneArticle-list-comments">
                <h2 style="text-align: center">Commentaires</h2>
                {% for comment in comments %}
                    <div class="oneArticle-comment">
                        <div class="oneArticle-comment-author-date">
                            <h4>{{ comment.commentAuthor }}</h4>
                            <p>{{ comment.dateComment | date("d/m/Y") }}</p>
                        </div>
                        <div>
                            <p>{{ comment.commentContent | raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
