{% extends "base.html.twig" %}

{% block title %} Page d'accueil {% endblock %}


{% block scripts %}
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}



{% block content %}
    <div class="display-post">
        {% for article in articles %}
            <div class="post" id="post{{ article.idPost }}">
                <a href="/ClementGrenierDesrousseaux_P5_06052022/article/{{ article.idPost }}">
                    <div class="post-title-date">
                        <h4>{{ article.titlePost }}</h4>
                        <p>{{ article.datePost | date('d/m/Y') }}</p>
                    </div>
                    <p>{{ article.chapoPost }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="newsletter">
        <h2>Se tenir au courant des nouveaux articles</h2>
        <form action="#" id="newsletter-form">
            <input type="email" placeholder="adresse@email.com" id="newsletter-form-email">
            <input type="submit" value="S'inscrire" id="newsletter-form-submit">
        </form>
    </div>
{% endblock %}
