{% extends "baseAdmin.html.twig" %}

{% block title %} Articles {% endblock %}

{% block content %}
    <!--<div><a href="/ClementGrenierDesrousseaux_P5_06052022/admin/articles/create">Créer un article</a></div>-->
    <div class="admin-display-list-articles">
        <table class="admin-display-article">
            <tr>
                <th class="display-desktop">ID</th>
                <th>Titre</th>
                <th class="display-none display-desktop">Date de publication</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            <a href="/ClementGrenierDesrousseaux_P5_06052022/admin/articles/create" style="margin-top: 15px;"><button class="admin-modify-article-form-button">Créer un article</button></a>
            {% for article in articles %}
                <tr class="admin-display-article-content">
                    <td class="display-desktop">{{ article.idPost | raw }}</td>
                    <td>{{ article.titlePost | raw }}</td>
                    <td class="display-none display-desktop">{{ article.datePost | date('d/m/Y') }}</td>
                    <td>
                        <div class="admin-display-article-content-link">
                            <a href="/ClementGrenierDesrousseaux_P5_06052022/admin/article/{{ article.idPost }}"><div class="display-desktop">Modifier</div><i class="fa-solid fa-pen-to-square display-responsive "></i></a>
                        </div>
                    </td>
                    <td>
                        <div class="admin-display-article-content-link">
                            <a href="/ClementGrenierDesrousseaux_P5_06052022/admin/article/delete/{{ article.idPost }}"><div class="display-desktop">Supprimer</div> <i class="fa-solid fa-trash display-responsive"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
