{% extends "base.html.twig" %}

{% block title %} Page d'accueil {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
          rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script src="public/js/script.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-lg-2 col-md-3 bg-primary text-light">
                <h2 class="mt-2 d-flex justify-content-center text-center">Interface d'administration</h2>
                <ul class="list-group bg-primary mt-5">
                    <li class="list-group-item bg-primary"><a href="/ClementGrenierDesrousseaux_P5_06052022/admin"
                                                              class="text-decoration-none text-light"><i
                                    class="fa-solid fa-house mx-2"></i>Accueil</a></li>
                    <li class="list-group-item bg-primary"><a
                                href="/ClementGrenierDesrousseaux_P5_06052022/admin/articles"
                                class="text-decoration-none text-light"><i class="fa-solid fa-newspaper mx-2"></i>Articles
                        </a></li>

                    <li class="list-group-item bg-primary"><a href="#" class="text-decoration-none text-light"><i
                                    class="fa-solid fa-comments mx-2"></i>Commentaires</a></li>

                </ul>
            </div>
            <div class="col-lg-10 col-md-9">
                {% for article in articles %}

                    <div class="row mt-3 mb-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h4>{{article.title}}</h4>
                                        <p>{{article.date}}</p>
                                    </div>
                                    <div class="mx-5 mt-3 mb-3">
                                        <p>{{article.chapo}}</p>
                                    </div>
                                    <div>
                                        <p>{{ article.content | raw }}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-8 mb-5">
                        <form action="/ClementGrenierDesrousseaux_P5_06052022/admin/articleModifyValidation" method="get">
                            <div class="col-12 mb-5 form-outline">
                                <label for="title" class="form-label">ID</label>
                                <input class="w-100 form-control" type="text" value="{{ article.id }}" name="articleId" readonly>
                            </div>

                            <div class="col-12 mb-5 form-outline">
                                <label for="title" class="form-label">Titre</label>
                                <input class="w-100 form-control" type="text" value="{{ article.title }}" name="articleTitle">
                            </div>

                            <div class="col-12 mb-5 form-outline">
                                <label for="title" class="form-label">Chapo</label>
                                <textarea class="w-100 form-control" type="text" name="articleChapo">{{ article.chapo }}</textarea>
                            </div>

                            <div class="col-12 mb-5 form-outline">
                                <label for="title" class="form-label">Description</label>
                                <textarea class="w-100 form-control" type="text" name="articleContent">{{ article.content }}</textarea>
                            </div>


                            <input type="submit" value="Valider les modifications" class="btn btn-primary btn-lg">
                        </form>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
