{% extends "baseAdmin.html.twig" %}

{% block title %} Page d'accueil {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
          rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    <script src="public/js/script.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <p>{{ response }}</p>
    {% for comment in comments %}
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6>{{ comment.commentAuthor }}</h6>
                            <p>{{ comment.dateComment | date("d/m/Y") }}</p>
                        </div>
                        <div>
                            <p>{{ comment.commentContent | raw }}</p>
                        </div>
                        <div class="col-12">
                            <form action="/ClementGrenierDesrousseaux_P5_06052022/admin/commentaires" method="post">
                                <input type="text" value="{{ comment.idcomment }}" name="idComment">
                                <input type="submit" value="Valider le commentaire" name="button_submit">
                            </form>
                            <form action="/ClementGrenierDesrousseaux_P5_06052022/admin/commentaires" method="post">
                                <input type="text" value="{{ comment.idcomment }}" name="idComment">
                                <input type="submit" value="Supprimer le commentaire" name="button_submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}
{% endblock %}
