{% extends "baseAdmin.html.twig" %}

{% block title %} Commentaires {% endblock %}

{% block content %}
    <p>{{ response }}</p>
    <div class="admin-display-list-articles">
        <table class="admin-display-article">
            <tr>
                <th>ID</th>
                <th>Auteur</th>
                <th>Date de publication</th>
                <th>Contenu</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            {% for comment in comments %}
                <tr class="admin-display-article-content">
                    <td>{{ comment.idcomment }}</td>
                    <td>{{ comment.commentAuthor }}</td>
                    <td>{{ comment.dateComment | date("d/m/Y") }}</td>
                    <td>{{ comment.commentContent | raw }}</td>
                    <td>
                        <div class="admin-display-article-content-link">
                            <form action="/ClementGrenierDesrousseaux_P5_06052022/admin/commentaires/approuve/{{ comment.idcomment }}" method="post">
                                <input type="submit" value="Approuver" name="commentApprouved">
                            </form>

                        </div>
                    </td>
                    <td>
                        <div class="admin-display-article-content-link">
                            <form action="/ClementGrenierDesrousseaux_P5_06052022/admin/commentaires/delete/{{ comment.idcomment }}" method="post">
                                <input type="submit" value="Supprimer" name="commentDeleted"
                                       class="admin-display-article-content-link">
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
